
pre{
    
    background-color: cornsilk;
}

#paragraph2{
    background-color:wheat;}
.c1{
    background-color: teal;
}
div{
    font: algerian;
    text-align: center;
    border: yellowgreen;
    height: 1px;
}
h1{
    color:blue;
}
pre{
    background-color: teal;
    color:white;
}
